@font-face {
    font-family: Plaak56;
    src: url("/font/205-Plaak56.otf") format("opentype");
}

@font-face {
    font-family: dinbold;
    src: url('/font/DIN_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: newsgot;
    src: url('/font/News_Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Monaco;
    font-style: normal;
    font-weight: normal;
    src: url('/font/Monaco.woff') format('woff');
}

body {
    font-family: "Plaak56", dinbold;
    font-size: 22px;
    background-color: black;
    color: white;
}

#textzone {
    position: absolute;
    z-index: 100;
    font-size: 3vh;
}


/* CONTAINERS */

.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.waiting {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    background-image: url("/img/jauge.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.mainplayer {
    /* border: 1px solid pink; */
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    object-fit: contain;
}

.previewrow {
    /* border: 1px solid purple; */
    width: 100%;
    height: 23%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

.prevplayer {
    /* border: 1px solid green; */
    width: 17%;
    height: 100%;
    /* display: inline-block; */
    vertical-align: top;
    /* padding: 1%; */
}


/* PLAYERS */

.red5pro-media-container {
    width: 100%;
    height: 100%;
}

.player {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.preview {
    /* border: 1px solid yellow; */
    /* background-color: aqua; */
}

#testvid {
    display: none;
}


/* CONTENT */

.widget {
    display: none;
}

.introtxt {
    text-align: center;
    margin: auto;
    width: 80%;
}

.intrologo {
    height: 6vh;
    width: auto;
    margin-top: -2.6vh;
}


/* CONTROLS */

.controls {
    display: none;
    padding: 5px;
    background-color: #666;
    z-index: 2000;
    position: fixed;
    top: 0;
    right: 1vw;
    /*width: 100%;*/
    font-size: 18px;
}