@font-face {
    font-family: Plaak56;
    src: url("/font/205-Plaak56.otf") format("opentype");
}

@font-face {
    font-family: dinbold;
    src: url('/font/DIN_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: newsgot;
    src: url('/font/News_Oblique.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Monaco;
    font-style: normal;
    font-weight: normal;
    src: url('/font/Monaco.woff') format('woff');
}

body {
    font-family: "Plaak56", dinbold;
    font-size: 22px;
    background-color: black;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 18px;
    }
}


/* CONTAINERS */

.container,
.instructionContainer,
.fsContainer {
    /* border: 1px solid green; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.container,
.fsContainer {
    left: 4vh;
}

.instructionContainer {
    z-index: 200;
}

.fsContainer {
    /* border: 1px solid green; */
    z-index: 150;
    background-color: black;
    display: none;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}

.fsOverlay {
    /* border: 2px solid white; */
    /* height: 90%;
    width: 90%; */
    margin: 1%;
    padding: 1%;
    flex: 1;
}

.instructionBackground {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.waiting {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    background-image: url("/img/jauge.gif");
    background-repeat: no-repeat;
    background-position: center;
}

.mainplayer {
    /* border: 1px solid pink; */
    width: 48%;
    height: 48%;
    /* margin: 0.8%; */
    object-fit: contain;
    position: relative;
}


/* PLAYERS */

.red5pro-media-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid pink; */
}

.player {
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-image: url("/img/jauge-light.gif");
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}

.fsBtn {
    position: absolute;
    top: 3px;
    right: 2px;
    background-color: black;
    width: 5%;
    display: none;
    z-index: 190;
}


/* CONTENT */

.widget {
    display: none;
}

#band {
    position: fixed;
    top: 35px;
    left: 0;
    height: 85%;
}

.introtxt {
    text-align: center;
    margin: auto;
    width: 80%;
}

.intrologo {
    height: 6vh;
    width: auto;
    margin-top: -2.6vh;
}

.instructions {
    position: absolute;
    border: 2px solid white;
    padding: 2%;
    background-color: #222;
    font-size: 0.7em;
    line-height: 1.5em;
    z-index: 200;
}


/* CONTROLS */

.controls {
    display: none;
    padding: 5px;
    background-color: #666;
    z-index: 2000;
    position: fixed;
    top: 0;
    right: 1vw;
    /*width: 100%;*/
    font-size: 18px;
}


/* CHAT */

#chatContainer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    pointer-events: none;
}

#chatContainer .bg {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    background: #000;
}

#chatContainer:focus-within .bg {
    visibility: visible;
    opacity: 0;
}

#chatContainer * {
    visibility: visible;
}

.discussion {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    -webkit-appearance: none;
    border: 0;
    background: transparent;
    border-radius: 0;
    height: 44px;
    cursor: pointer;
    pointer-events: auto;
    margin-left: 10px;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    opacity: 0.5;
    width: 90%;
    max-width: 40%;
}

.btntxt {
    top: 15px;
    left: 43px;
    position: fixed;
    font-size: 0.8em;
}

.icon-bar {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    transition: .3s;
    width: 20px;
}

.icon-bar+.icon-bar {
    margin-top: 3px;
}

#chatContainer:focus-within .discussion {
    pointer-events: none;
    outline: none;
    opacity: 1;
}

#chatContainer:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 5px, 0) rotate(45deg);
}

#chatContainer:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
}

#chatContainer:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -5px, 0) rotate(-45deg);
}

#chatboard {
    margin-top: 35px;
    padding: 10px;
    width: 90%;
    max-width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 50px);
    background: #111;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform .3s;
    will-change: transform;
    contain: paint;
    outline: none;
    opacity: 0.90;
}

@media only screen and (max-width: 1100px) {
    #chatboard {
        max-width: 70%;
    }
}

@media only screen and (max-width: 700px) {
    #chatboard {
        max-width: 90%;
    }
}

#chatContainer:focus-within #chatboard {
    transform: none;
}

#chatform {
    font-size: 0.5em;
    line-height: 30px;
}

#chatform label {
    display: inline-block;
    width: 16%;
    text-align: right;
    margin-right: 5px;
}

#chatform input[type=text] {
    background-color: #000;
    border: 0px;
    border-left: 1px solid #666;
    color: white;
    padding: 5px;
}

input:focus {
    outline: none;
}

#chatform button {
    background-color: #000;
    border: 1px solid #666;
    color: white;
    font-family: "Plaak56", dinbold;
    font-size: 1.1em;
    padding: 7px 11px 4px;
}

#chatnick {
    width: 20%;
}

#chatmsg {
    width: 77%;
}

#chatmessages {
    height: calc(100% - 100px);
    /* border: 1px solid green; */
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-size: 0.7em;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 30px;
    margin-left: 30px;
}

@media only screen and (max-width: 700px) {
    #chatmessages {
        height: calc(100% - 200px);
    }
}

#chatmessages li {
    padding: 5px 10px;
}

#chatmessages li:nth-child(odd) {
    background: #222;
}

.nick {
    font-size: 0.7em;
    margin-right: 10px;
}

.msg {
    font-family: dinbold;
}

html {
    scrollbar-face-color: #646464;
    scrollbar-base-color: #646464;
    scrollbar-3dlight-color: #646464;
    scrollbar-highlight-color: #646464;
    scrollbar-track-color: #000;
    scrollbar-arrow-color: #000;
    scrollbar-shadow-color: #646464;
    scrollbar-dark-shadow-color: #646464;
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 3px;
}

 ::-webkit-scrollbar-button {
    background-color: #666;
}

 ::-webkit-scrollbar-track {
    background-color: #646464;
}

 ::-webkit-scrollbar-track-piece {
    background-color: #000;
}

 ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #666;
    border-radius: 3px;
}

 ::-webkit-scrollbar-corner {
    background-color: #646464;
}


}
 ::-webkit-resizer {
    background-color: #666;
}